
.esquina-usuario {
    z-index: -1;
    /* border: 2px solid #9b9b9b; */
    display: flex;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    /* border-radius: 15px; */
    position: fixed;
    background: linear-gradient(to right, #2179acfd, transparent);
    /* background: radial-gradient(circle  at top left, #2179acfd, white, transparent);
    background-position: 0 0;
    background-size: 290px 110px; */
}
.esquina-usuario h4 {
    font-size: 0.7em;
    /* font-style: italic ; */
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    margin: 20px;
}
.esquina-usuario img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-right: 10px; */
    scale: 0.8;
    min-width: 100px;
}

.esquina-usuario {
    z-index: 1;
    display: flex;
}
.esquina-usuario label {
    display: flex;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    background: transparent;
    user-select: none;
    /* outline: 3px solid black; */

}
.checkbox-menu {
    display: none;
}
.div-menu {
    display: block;
    z-index: 10000;
    opacity: 0;
    animation: entrada 0.5s ease forwards;
}
@keyframes entrada {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.div-menu-shifted {
    display: none;
    z-index: 100;
}

.esquina-usuario {
    z-index: 2;
}

@media screen and (max-width: 500px) {
    .botonLogout {
        width: 75vw;
    }
    .botonLista {
        width: 75vw;
    }
    .botonHome {
        width: 75vw;
    }
    .esquina-usuario h4 {
        font-size: 1em;
        margin: 20px 50px;
    }
}