
.esquina-usuario {
    display: flex;
    width: 300px;
    height: 118px;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(to right, #2179acfd, transparent);
}
.esquina-usuario h1 {
    font-size: 0.7em;
    /* font-style: italic ; */
    font-family: 'roboto', sans-serif;
    padding: 0;
    display: block;
    margin: 35px 15px 20px 25px;
}
.esquina-usuario img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    scale: 0.8;
    min-width: 100px;
    margin-top: 7px;
}
.esquina-usuario label {
    display: flex;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    background: transparent;
    user-select: none;
    /* outline: 3px solid black; */
}
.checkbox-menu {
    display: none;
}
.div-menu {
    display: block;
    opacity: 0;
    animation: entrada 0.5s ease forwards;
}
.login {
    display: block;
    width: 180px;
    top: 20px;
    height: auto;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
}
@keyframes entrada {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.div-menu-shifted {
    display: none;
    z-index: 100;
}

.esquina-usuario {
    z-index: 2;
}

@media screen and (max-width: 500px) {
    .botonLogout {
        width: 75vw;
    }
    .botonLista {
        width: 75vw;
    }
    .botonHome {
        width: 75vw;
    }
    .esquina-usuario h1 {
        font-size: 0.9em;
        margin: 30px 50px 20px 50px;
    }
    .login {
        top:35px;
        width: 80%;
        left: 10%;
    }
}

/* Menu */

.barra-menu {
    border: 5px solid linear-gradient(to right, #2179acfd, transparent);
    background: linear-gradient(to right, #2179acfd, transparent);
    position: fixed;
    top: 118px;
    height: 100%;
    width: 300px;
    left: 0px;
}
.botonLogout {
    display: block;
    width: 180px;
    bottom: 20px;
    height: auto;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    background-color: transparent;
    width: 300px;
    border-radius: 0%;
    border: 1px solid transparent;
    outline: none;
}
.botonLogout:hover {
    border: 1px 0 1px 0 solid white;
    outline: none;
    transition: all 0.5s;
}
.botonLogout:focus {
    border: none;
    outline: none;
}
.botonLista {
    display: block;
    width: 180px;
    height: auto;
    top: 200px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    background-color: transparent;
    width: 300px;
    border-radius: 0%;
    border: none;
}
.botonHome {
    display: block;
    width: 180px;
    height: auto;
    top: 130px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    background-color: transparent;
    width: 300px;
    border-radius: 0%;
    border: none;
}
.botonUpdate {
    display: block;
    width: 180px;
    height: auto;
    top: 270px;
    position: fixed;
    margin: auto;
    text-align: center;
    background-color: transparent;
    width: 300px;
    border-radius: 0%;
    border: none;
}
.botonValid {
    display: block;
    width: 180px;
    height: auto;
    top: 340px;
    position: fixed;
    margin: auto;
    text-align: center;
    background-color: transparent;
    width: 300px;
    border-radius: 0%;
    border: none;

}
.botonTabValid {
    display: block;
    width: 180px;
    height: auto;
    top: 410px;
    position: fixed;
    margin: auto;
    text-align: center;
    background-color: transparent;
    width: 300px;
    border-radius: 0%;
    border: none;

}

/* clases de css en componente padre afectan a componente hijo */
@media screen and (max-width: 500px) {
    .esquina-usuario {
        width: 100%;
        left: 0px;
        background: linear-gradient(to right, #2179acfd, white);
    }
    .barra-menu {
        width: 100%;
        left: 0px;
        background: linear-gradient(to right, #2179acfd, white);
    }
    .barra-menu button {
        width: 100%;
        left: 0;
    }
}