.label {
    display: block;
}
label select {
    width: fit-content;
    margin: 10px;
}
a {
    display: none;
}
aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    margin: 40px;
}
form {
    position: relative;
    top: 1em;
}
.discrepancia {
    display: flex;
    width: 95%;
    left: -1em;
    margin: 10px;
}
.dragZone {
    width: 100%;
}


@media screen and (max-width: 500px) {
    .letrafolio {
        width: 27%;
        font-size: medium;
    }
    .especie {
        width: 33%;
        font-size: medium;
    }
    img {
        left: -1em;
        position: relative;
        width: 320px;
        height: auto;
    }
}
