.label {
    display: flex;
}
label select {
    width: fit-content;
}
a {
    display: none;
}
aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    margin: 40px;
}


@media screen and (max-width: 500px) {
    .letrafolio {
        width: 27%;
        font-size: medium;
    }
    .especie {
        width: 33%;
        font-size: small;
    }
}
