.barra-menu {
    border: 5px solid linear-gradient(to right, #2179acfd, transparent);
    background: linear-gradient(to right, #2179acfd, transparent);
    position: absolute;
    top: 107px;
    height: 100%;
    width: 280px;
    z-index: 5000;
    left: 0px;
}
.botonLogout {
    display: block;
    width: 180px;
    bottom: 20px;
    height: auto;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 500000;

}
.botonLista {
    display: block;
    width: 180px;
    height: auto;
    top: 200px;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 500000;

}
.botonHome {
    display: block;
    width: 180px;
    height: auto;
    top: 130px;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 500000;
}
.botonUpdate {
    display: block;
    width: 180px;
    height: auto;
    top: 270px;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 5000000;
}
.botonValid {
    display: block;
    width: 180px;
    height: auto;
    top: 360px;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 500000;
}

/* clases de css en componente padre afectan a componente hijo */
@media screen and (max-width: 500px) {
    .barra-menu {
        width: 100%;
        left: 0px;
    }
}