.barra-menu {
    border: 5px solid #34a8eb;
    background-color: #34a8eb;
    position: absolute;
    top: 120px;
    height: 225px;
    width: 200px;
    z-index: 5;
    left: 50px;
}
.botonLogout {
    display: block;
    width: 180px;
    top: 270px;
    height: auto;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 5;

}
.botonLista {
    display: block;
    width: 180px;
    height: auto;
    top: 200px;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 5;

}
.botonHome {
    display: block;
    width: 180px;
    height: auto;
    top: 130px;
    left: 60px;
    /* border-radius: 15px; */
    position: fixed;
    margin: auto;
    text-align: center;
    /* background: transparent;
    outline: none; */
    z-index: 5;
}

/* clases de css en componente padre afectan a componente hijo */
@media screen and (max-width: 500px) {
    .barra-menu {
        width: 100%;
        left: 0px;
    }
}