*{
    overflow: hidden;
}
/* .example::-webkit-scrollbar {
    display: none;
} */
.tabla{
    margin: 0 40px;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}
.expandable-component{
    display: flex;
    font-size: 0.7em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}