.expandable-component{
    top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Proporcion */
    grid-gap: 5px;
    grid-template-areas:
        "Info Foto";
    z-index: 0;
}
.tablaDiscrepancia {
    margin-top: 90px;
    position: relative;/*Para que z-index haga efecto, debe ser position:relative*/
    z-index: 0;
}

/* ----------Imagen-------------- */
.fotoDisc {
    grid-area: Foto;
    display: block;
    flex: 1;
}
.IMGContainer {
    display: block;
    flex: 1;
    border-radius: 7px;
    margin: 10px;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.fotoGrande {
    display: block;
    position: absolute;
    flex: 1;
    border-radius: 7px;
    height: auto;
    width: auto;
    overflow: visible;
    top: 17%;
    right: 10%;
    z-index: 1;
}
.fotoGrande img {
    scale: 1.3;
}
.labelNoDisplay {
    display: none;
}
.labelGrande {
    display: block;
    position: inherit;
}
#checkIMG {
    display: none;
}
#uncheckIMG {
    display: none;
}
/* #checkIMG:checked + .fotoGrande {
    display: block;
} */
/* --------------Info----------------- */
.infoDisc {
    grid-area: Info;
}
.infoDisc div {
    display: block;
    margin-right: 0px;
    text-align: left;
    max-width: 24em;
}
.tablaDiscrepancia select {
    width: 6em;
}
.tablaDiscrepancia input[type="text"]{
    width: 300px;
    margin-right: 20px;
}

[aria-busy=true]:not(input,select,textarea,html)::before {
    display: none;
    /* span circulo de carga */
}

/* --------------Responsive--------------- */
@media screen and (max-width: 500px) {
    .expandable-component {
        grid-template-columns: 1fr;
        grid-template-areas:
            "Info"
            "Foto";
    }
    .tablaDiscrepancia {
        margin-top: 90px;
    }
    .tablaDiscrepancia select {
        width: 7em;
    }
    .tablaDiscrepancia input[type="text"]{
        width: 9em;
    }
    .infoDisc {
        font-size: small;
    }
    .infoDisc div {
        margin-right: 0px;
        text-align: left;
        max-width: 100%; /* Para que no se salga de la pantalla (wrap) */
    }
    /* ---------Imagen--------- */
    .IMGContainer {
        display: flex;
    }
    .fotoDisc {
        position: relative;
        margin-left: 5em;
        height: 200px;
        width: 200px;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fotoGrande {
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom: 0; 
        margin: auto;
    }
    .fotoGrande img {
        position: relative;
        scale: 0.9;
        left: 0;
        right:0;
        top: 0;
        bottom: 0; 
        margin: 0 0 0 0;
    }
}