.titulo{
top: 100px;
height: 70px;
margin-top: 40px;
}
h1, h2 {
    overflow-x: visible;
}
/* .login{
    height: 70px;
} */
@media screen and (max-width: 500px) {
    .titulo{
        margin-top: 100px;
        height: 3em;
    }
    .Login {
        margin-top: 80px;
    }
    .bienvenida {
        scale: 0.6;
        position: relative;
        left: -2em;
        width: fit-content;
    }
    #root {
        margin: 0 1em;
        padding: 0;
        width: 90vw;
    }
    .inputValidacion {
        width: 80vw;
    }
    .inputValidacion h1 {
        position: relative;
        left: 0.3em;
        top: 25px;
    }
    .tablaValidaciones {
        width: 95vw;
    }
}