* {
    user-select: none;
}

.CSVImporter_FormatRawPreview__scroll {
    display: none;
}
.CSVImporter_FileStep__header {
    display: none;
}
.CSVImporter_ColumnDragSourceArea {
    display: none;
}
.dragZone {
    display: block;
    border: 2px dashed #ccc;
    padding:10px;
    font-size: 16px;
    color: #777;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}
.dragZoneActive {
    display: block;
    border: 2px dashed #777;
    padding:10px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
    color: #999;
    font-size: 16px;
}